

// variables
$header-height: 52px;
$footer-height: 80px;
$display-height: calc( 100% - 132px ); // 変数計算したいのにうまくいかないのなんで

$color-bar-bg: #333333;

$color-black: #000000;
$color-white: #FFFFFF;
$color-key: #26BFBA;

%input-range-disable {
  -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
}

html, body {
  width: 100%;
  height: 100%;

  color: $color-white;

  background: $color-black;
}

li {
  list-style: none;
}

* {

  &:focus {
    outline: 0;
  }
}

input {
  color: #000000;
}

// 開発用：一旦消す
.none {
  display:none
}

/* mainlayout
## レイアウト上の構成
.contents
  .header-bar : 画面上部のバー
  .main-display : 画面中部のメインディスプレイ
  .footer-bar : 画面下部の
 */

#root {
  height: 100%;
}

.contents {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-bar {
  box-sizing: border-box;
  height: $header-height;
  padding: 6px 0;

  background: $color-bar-bg;

  overflow: hidden;
  font-size: 12px;

  border-bottom:solid 1px #333333;

  &__left {
    float: left;
    max-width: 50%;
  }
}

.main-display {
  height: $display-height;
  overflow: hidden;
  position: relative;
}

.footer-bar {
  box-sizing: border-box;
  height: $footer-height;
  background: $color-bar-bg;
  overflow: hidden;
  border-top:solid 1px #333333;
}

// search
.form-search{
  -webkit-app-region: no-drag;

  color: $color-white;
  float: right;
  background: $color-black;
  text-indent: 10px;
  margin: 5px 20px 0 0;
  border-radius: 10px;
  width: 10%;
  border: none;
  height: 30px;
  box-sizing: border-box;
  transition: .2s;

  &:focus,
  &.is-search-active {
    color: $color-black;
    background: $color-white;
    margin: 5px 20px 0 20px;
    width: calc( 30% - 40px );
    transition: .5s;
  }
}

// profile
.header-bar-prof  {
  position: relative;

  &__icon {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 5px;
  }

  &__name {
    margin: 0px 0px 0 55px;
    padding: 12px 10px;
  }

  &__sign {
    padding-left: 15px;
    color: $color-key;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.login-users {
  position: absolute;
  margin: -30px 0px 0 215px;

  &__icons {
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 5px;
  }
}

// button-que-list
.button-que-list {
  float: right;
  width: 17px;
  height: 30px;
  margin: 13px 15px 0 0;
  position: relative;
  cursor: pointer;

  span {
    display: block;
    height: 1px;
    background: $color-white;
  }

  &.is-quelist-list span {
    background: $color-key;
  }

  span + span {
    margin-top: 5px;
  }
}
.next-video-img {
  width: 15%;
  height: auto;
  float: left;
  margin: 0px 15px 10px 0;
}

.next-video-title {
  width: 350px;
  height: 10px;
  margin: 13px 0 0 0;
  position: relative;
  cursor: pointer;

}

.next-video {
  float: right;
  width: auto;
  height: 30px;
  margin: 2px 0 0 0;
  position: relative;
  cursor: pointer;
}


// button-playlist-list
.button-playlist-list {
  float: right;
  width: 17px;
  height: 30px;
  margin: 13px 15px 0 0;
  position: relative;
  cursor: pointer;

  span {
    display: block;
    height: 15px;
    background: $color-white;
  }

  &.is-playlist-list span {
    background: $color-key;
  }

  span + span {
    margin-top: 5px;
  }
}

/* main の要素

*/

// このサイズを変えればyoutube自体はそれに自動でアジャストされる
// modeごとにサイズ変えればOKな感じ
.display-youtube {
  height: 100%;
}

.display-comments {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 30%;
  left: 20px;
  bottom: 20px;
  padding: 0;
  overflow: auto;

  .comment-input {
    -webkit-app-region: no-drag;

    border: none;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 3em;
    font-size: 12px;
    transition: .2s;

    &.is-active {
      color: $color-black;
      background: $color-white;
      width: calc( 30% - 40px );
      transition: .5s;
    }
  }
}

.comments-stream {
  position: absolute;
  left: 0;
  bottom: 40px;
  padding: 0;
  width: 100%;
  overflow: hidden;

  &__item {
    margin: 10px 0 0;
    position: relative;
    list-style: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    background: transparentize($color-white, 0.2);
    float: left;
    clear: left;

    animation: commentAnimation .5s ease 0s 1 normal;

    transform-origin: 0% 100%;

    @keyframes commentAnimation {
      0% {
        transform: scaleY(0);
        opacity: 0;
      }
      100% {
        transform: scaleY(1);
        opacity: 1;
      }
    }
    @-webkit-keyframes commentAnimation {
      0% {
        transform: scaleY(0);
        opacity: 0;
      }
      100% {
        transform: scaleY(1);
        opacity: 1;
      }
    }

    opacity: 0;

    &:nth-last-child(3) {
      opacity: 0.4;
      // background: transparentize($color-white, 0.8);
    }
    &:nth-last-child(2) {
      opacity: 0.6;
      // background: transparentize($color-white, 0.6);
    }
    &:nth-last-child(1) {
      opacity: 1;
      // background: transparentize($color-white, 0.2);
    }
  }

  &.is-active .comments-stream__item,
  &.is-active .comments-stream__item:nth-last-child(3),
  &.is-active .comments-stream__item:nth-last-child(2),
  &.is-active .comments-stream__item:nth-last-child(1){
    opacity: 1;
  }

  &__img-prof {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  &__img-giphy {
    width: 100%;
  }

  &__item--play {
    @extend .comments-stream__item;
    background: $color-key;
    background: transparentize($color-key, 0.2);
    font-size: 12px;
  }

  .commemt-comment {
    padding-left: 40px;
  }

  .comment-single {
    color: $color-black;
    font-size: 22px;
  }

  .comment-author {
    padding: 5px 0 0;
    color: #777777;
  }
}

// include .display-search and .display-list

.display-control {
  width: 60%;
  height: 100%;
  position: absolute;
  right: -60%;
  top: 0;

  background: transparentize($color-black, .4);

  transition: .5s;

  &.is-quelist-list {
    right: -30%;
  }

  &.is-search-active,
  &.is-quelist-list.is-search-active {
    right: 0;
  }
}

%display-control__child {
  border-left: 1px solid transparentize($color-white, .5);
  box-sizing: border-box;
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
}

.display-list {
  @extend %display-control__child;
  right: 50%;
}

.display-search {
  @extend %display-control__child;
  right: 0;

  &__close {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 0;
    font-size: 0;
    border: 1px solid $color-white;
    position: relative;
    margin: 0 5px 0 0;
    cursor: pointer;

    &:after,
    &:before {
      content: " ";
      height: 10px;
      border-left: 1px solid #FFFFFF;
      display: block;
      position: absolute;
      left: 10px;
      top: 5px;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }
}

.list-group {
  height: 100%;
  overflow: auto;
  padding: 0;
}

.list-group-title {
  font-size: 12px;
  color: $color-white;

  &__number {
    height: 2em;
    padding: 2px 8px;
    border-radius: 2em;
    background: $color-key;
    color: $color-white;
    position: relative;
    left: 10px;
  }
}

.list-group-item {
  clear: both;
  padding: 15px 0;
  border-top: 1px solid transparentize($color-white, .5);
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  animation: listItemAnimation .5s ease 0s 1 normal;

  transform-origin: 0% 100%;

  @keyframes listItemAnimation {
    0% {
      background: transparentize($color-white, 0);
    }
    100% {
      background: transparentize($color-white, 1);
    }
  }
  @-webkit-keyframes listItemAnimation {
    0% {
      background: transparentize($color-white, 0);
    }
    100% {
      background: transparentize($color-white, 1);
    }
  }

  &:hover {
    background: transparentize($color-white, .8);
  }

  &__thumbnail {
    width: 30%;
    height: auto;
    float: left;
    box-sizing: border-box;
    border: 1px solid transparentize($color-white, .5);
  }

  &__body {
    width: 70%;
    float: left;
    padding: 0 0 0 10px;
    font-size: 12px;
    box-sizing: border-box;
  }

  &__name {
    color: #666666;
  }

  &__close {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 0;
    font-size: 0;
    border: 1px solid $color-white;
    position: relative;
    margin: 0 5px 0 0;

    &:after,
    &:before {
      content: " ";
      height: 10px;
      border-left: 1px solid #FFFFFF;
      display: block;
      position: absolute;
      left: 10px;
      top: 5px;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }
}

/* footer の要素

*/

%controll-default {
  width: 25px;
  height: 25px;
  display: block;
  float: left;

  margin: 0 5px;

  border-radius: 50%;
  border: solid 1px $color-white;
  background: $color-bar-bg;
  cursor: pointer;

  position: relative;
}

.play-controll {
  float: left;
  width: 150px;
  box-sizing: border-box;
  padding: 25px 40px;

  &__play {
    @extend %controll-default;

    &:before {
      font-size: 0;
      position: absolute;
      left: 8px;
      top: 6px;
      content: "";
      width: 10px;
      height: 0;
      border: 5px solid transparent;
      border-left: 8px solid $color-key;
      line-height: 0;
    }
  }

  &__pause {
    @extend %controll-default;

    &:before,
    &:after {
      content: "";
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 7px;
      width: 2px;
      height: 8px;
      background: $color-key;
    }

    &:before {
      left: 13px;
    }

    &:after {
      left: 8px;
    }
  }

  &__skip {
    @extend %controll-default;

    &:before,&:after {
      content: "";
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 7px;
      width: 0;
      height: 0;
    }

    &:before {
      border: 4px solid transparent;
      border-left: 5px solid $color-key;
      left: 7px;
    }

    &:after {
      left: 14px;
      border-right: 2px solid $color-key;
      height: 8px;
    }

  }
}

%footer-ttl {
  text-align: center;
  font-size: 12px;
  height: 1em;
}

.progress-box {
  float: left;
  width: calc( 100% - 300px );
  box-sizing: border-box;

  padding: 0 10px;

  &__ttl {
    @extend %footer-ttl;
    color: $color-white;
  }

  &__status p {
    text-align: center;
    font-size: 12px;
    color: #666666;
    margin: 10px 0;
  }
}

.volume-box {
  float: left;
  width: 150px;
  box-sizing: border-box;
  padding: 0 10px;

  &__ttl {
    @extend %footer-ttl;
    color: #666666;
  }

  &__range-wrap {
    height: 1px;
    position: relative;
  }

  &__range {
    @extend %input-range-disable;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background: $color-black;

    &::-webkit-slider-thumb {
      @extend %input-range-disable;
      -webkit-app-region: no-drag;

      width: 10px;
      height: 10px;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 50%;
      border: solid 1px $color-white;
      background: $color-bar-bg;
    }
  }
}

.progress-bar {
  width: 100%;
  height: 1px;
  position: relative;
  background: $color-black;

  %progress-size-positioning {
    position: absolute;
    left: 0;
    top: 0;

    height: 1px;
  }

  // つまみのスタイル
  &__seek {
    @extend %input-range-disable;
    @extend %progress-size-positioning;

    width: 100%;
    z-index: 100;

    background: transparent;

    &::-webkit-slider-thumb {
      @extend %input-range-disable;
      -webkit-app-region: no-drag;

      width: 10px;
      height: 10px;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 50%;
      border: solid 1px $color-white;
      background: $color-bar-bg;
    }
    &:hover::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      transition: .2s;
    }
  }

  &__played {
    @extend %progress-size-positioning;
    z-index: 10;

    background: $color-key;
  }

  &__loaded {
    @extend %progress-size-positioning;
    z-index: 5;

    background: #CCCCCC;
  }
}
