


/* youtubeは画面いっぱいだよ★ */

html, body {
  width: 100%;
  height: 100%;
}

* {
  color: #FFF;
}

input {
  background: #333;
}

/* コメント */

.comment-list-group {
  width: 100%;
  height: calc( 100% - 80px );
  overflow: auto;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
}
  .comment-list-group li {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
  }

.comment-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  padding: 20px;
  border: none;
}

#root {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.text-small {
  color: #999;
}

.window {
  height: 100%;
}

.sss-youtube-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: -10;
}

  .sss-youtube-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
  }

  .sss-youtube-wrapper.is-covered:after {
    background: #000;
    transition: 0s;
    opacity: .5;
  }

.sss-youtube-player {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.sss-header {
  box-sizing: border-box;
  font-size: 12px;
  height: 40px;
  background: #000;
  padding: 12px;
}

.controlls {
  height: calc( 100% - 40px );
  display: flex;
}

.pane {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: auto;
}

.pane + .pane {
  border-left: solid 1px #FFF;
}
