
// bg img
.img-wrap {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    background-image: radial-gradient(rgba(0,0,0,0.15) 5%, transparent 20%);
    background-size: 3px 3px;
    margin-top: 30px;
    position: absolute;
  }

  .top-bg-movie {
    margin-left: calc(50% - 55%);
    margin-top: -30px;
  }
}

// unique items
.top-content-box {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  position: absolute;
  left: calc(50% - 40%);

  p {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .session-logo {
    height: 30px;
    margin-top: 30px;
  }

  .copy-box {
    margin-top: 100px;

    .second-copy {
      font-weight: 600;
    }
  }

  // create room box
  .create-room-box {
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.5);
    display: inline-block;
    margin-top: 20px;
    padding: 30px 60px;

    p {
      font-size: 20px;
    }

    span {
      color: #bac4c4;
      font-size: 14px;
    }

    p.top-or {
      color: #bac4c4;
      font-size: 14px;
      margin-bottom: 0;
      text-align: center;
    }

    a.toggle-url-form {
      color: white;
      font-size: 14px;
      display: inline-block;
      margin-top: 20px;
      margin-left:10px;
    }

    .create-room-input {
      border: none;
      border-radius: 10px;
      font-size: 12px;
      height: 30px;
      margin-left: 10px;
      min-width: 240px;
      padding: 0 10px;
    }

    .create-room-btn {
      background-color: #26BFBA;
      border: none;
      border-radius: 2px;
      color: white;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      padding: 10px 100px;

      &:hover {
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
      }
    }
  }
}



@media screen and (max-width: 414px) {

  .top-content-box {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    position: absolute;
    left: auto;

    p {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .session-logo {
      height: 20px;
      margin-top: 0px;
    }

    .copy-box {
      margin-top: 100px;

      .second-copy {
        font-weight: 600;
      }
    }
  }


  .create-room-box {
    padding: 20px 20px !important;
    width: calc(100% - 40px);

    p {
      font-size: 18px !important;
    }

    span {
      color: #bac4c4;
      font-size: 14px;
    }

    p.top-or {
      color: #bac4c4;
      font-size: 14px !important;
      margin-bottom: 0;
      text-align: center;
    }

    a.toggle-url-form {
      color: white;
      font-size: 14px;
      display: inline-block;
      margin-top: 20px;
      margin-left:10px;
    }

    .create-room-input {
      min-width: 150px !important;
    }

    .create-room-btn {
      padding: 10px 50px !important;

      &:hover {
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
      }
    }
  }

}
